# Example /etc/config/loadbalance
config loadbalance 'global'
	option enabled '1'
	option mode 'balanced'
	option wan1_weight '50'
	option wan2_weight '50'
	option auto_failover '1'
	option preferred_wan 'wan1'
	option check_interval '3'
	option check_timeout '2'
	option failure_threshold '3'
	option recovery_threshold '2'
	list check_targets '1.1.1.1'
	list check_targets '8.8.8.8'
	list check_targets '9.9.9.9'
