config globals 'globals'
	option mmx_mask '0x3F00'

config interface 'wan'
	option enabled '1'
	option family 'ipv4'
	list track_ip '1.1.1.1'
	list track_ip '8.8.8.8'
	list track_ip '9.9.9.9'
	option reliability '1'
	option count '1'
	option timeout '2'
	option interval '3'
	option down '3'
	option up '2'

config interface 'wan2'
	option enabled '1'
	option family 'ipv4'
	list track_ip '1.1.1.1'
	list track_ip '8.8.8.8'
	list track_ip '9.9.9.9'
	option reliability '1'
	option count '1'
	option timeout '2'
	option interval '3'
	option down '3'
	option up '2'

config member 'wan_m1'
	option interface 'wan'
	option metric '1'
	option weight '1'

config member 'wan_m2'
	option interface 'wan'
	option metric '2'
	option weight '1'

config member 'wan2_m1'
	option interface 'wan2'
	option metric '1'
	option weight '1'

config member 'wan2_m2'
	option interface 'wan2'
	option metric '2'
	option weight '1'

config policy 'balanced'
	list use_member 'wan_m1'
	list use_member 'wan2_m1'

config policy 'wan_primary'
	list use_member 'wan_m1'
	list use_member 'wan2_m2'

config policy 'wan2_primary'
	list use_member 'wan_m2'
	list use_member 'wan2_m1'

config policy 'wan_only'
	list use_member 'wan_m1'

config policy 'wan2_only'
	list use_member 'wan2_m1'

config rule 'https'
	option sticky '1'
	option timeout '60'
	option dest_port '443'
	option proto 'tcp'
	option use_policy 'balanced'

config rule 'default_rule_v4'
	option dest_ip '0.0.0.0/0'
	option use_policy 'balanced'
	option family 'ipv4'
